<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <div id="middle-part">
        <div id="content">
            <div id="settings-bar" class="block">
                asdsadsadsadsadsadsadsadsadsa
            </div>
            <div id="data-display">
                <div class="data-container block ">
                    <div class="picture">
                        <img src="images/image.jpg">
                    </div>"
                    <div class="picture-info">
                        <a>Author:  requestData[i].Author </a><br>
                        <a>Name: requestData[i].Name </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav-bar" class="block">
            <div class="nav-btn block">
                <div>
                    <a href="https://localhost:44378/dataadding">Add Painting</a>
                </div>
            </div>
            <div class="nav-btn block">
                <div>
                    <a href="https://localhost:44378/dataadding">Add Author</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/script.js"></script>
</body>
</html>
